@font-face {
  font-family: 'CustomFont';
  src: url('./fonts/SoulcraftVF.woff2') format('woff2-variations');
  font-weight: 100 900; /* Example range for weight axis */
  font-stretch: 75% 125%; /* Example range for width axis */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

.stylefont {
  font-family: "CustomFont", serif;
}

.widefont{
  font-family: "CustomFont", serif;
  font-variation-settings: 'wdth' 50 , 'slnt' 10;
}


body {
  background-color: #DFD0B8;
  color: white;
  font-family: "DM Sans", sans-serif;
}


section {
  height: 100vh;
  @media(max-width: 1024px){
    height: auto;
    padding-bottom: 30px;
  }
}